<footer class="footer">
  <small>
    Copywright 2013 Kick The Cans
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Public Relations", publicrelations_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Help",    help_path %></li>
            <%#<li><a href="http://news.railstutorial.org/">News</a></li>%>
    </ul>
  </nav>
</footer>